li {
    padding: 10px;
}
p{
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
}
.text1 {
    background-color: aqua; 
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    font-weight: 700;
}
.menu{
    background-color: aquamarine;
    border-bottom: 20px black;
}
.gillaogilla{
    background-color: aqua; 
    border: 20px black solid;
    margin: 5px;
}
#birdImg {
    border: 20px black solid;
}
#stryk{
    border: 20px black solid;
    width: 25vw;
}