li {
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}
p{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}
h1{
    font-family: 'Quicksand', sans-serif;
    font-size: xx-large;
    font-weight: 700;
    padding-top: 22px;
    padding-left: 8px;
}
h2{
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
}
h3{
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
}
h4{
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
}
.text1 {
    background-color: aqua; 
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    font-weight: 700;
}
.headerDiv{
    background-color: aquamarine;
    margin: -8px;
    margin-top: -22px;
}
.menu ul{
    background-color: aqua;
    list-style-type: none;
    padding: 5px;
}
.menu li{
    display: inline;
    font-family: 'Quicksand', sans-serif;
}
.menu li a:hover{
    background-color: greenyellow;
}
.gillaogilla{
    background-color: aqua; 
    border: 20px black solid;
    margin: 5px;
}
.divLeft{
    float: left;
    width: 48%;
    padding: 10px;
    margin-right: 10px;
    background-color: whitesmoke;
}
.divRight{
    float: right;
    width: 48%;
    padding: 10px;
    margin-left: 10px;
    background-color: whitesmoke;
}
#birdImg {
    border: 20px black solid;
}
#stryk{
    border: 20px black solid;
    width: 25vw;
}
table {
    border-collapse: collapse;
    width: 50%;
}
th, tr, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}